/* Linkin google font Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.buttons button {
    background-color: #ebeef0;
    transition: all 0.3s ease;
}

.buttons button:hover {
    background-color: white;
    border: 1px solid black;
}


/* left div */
.left-div{
    height: fit-content;
}
/* Colors */
.color-list-item {
    display: flex;
    align-items: center;
    padding-bottom: 4px;
}

.color-list-item .color-square {
    width: 17px;
    height: 17px;
    border: 0;
    border-radius: 2px;
    margin-right: 10px;
}

.color-list-item:hover .mute {
    color: red;
}

/* Brand */
.brands{
    height: 200px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: thin;
}
.checkbox .box{
    height: 17px;
    width: 17px;
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
    transition: 0.2s ease all;
    font-size: 0.7rem;
}
.checkbox .box .true{
    text-align: center;
    margin-left: 3px;
    opacity: 0;  
    visibility: hidden;  
    color: white;
    transition: all 0.2s ease;
}

.fs{
    font-size: 1rem;
}

.checkbox li:hover .box{
    background-color :black;
}
.checkbox li:hover .box .true{
    opacity: 1;
    visibility: visible;
}
.checkbox li {
    padding-bottom: 14px;
}


.checkbox button:hover .box{
    background-color :black;
}
.checkbox button:hover .box .true{
    opacity: 1;
    visibility: visible;
}
.checkbox button {
    padding-bottom: 14px;
}


/*  */
.Right .dropdown{
    background-color: white ;
    border: 0 1px 0 0;
}
.Right .dropdown:hover .dropdown-menu{
    opacity: 1;
    transition: all 0.3s ease;
}
.Right .dropdown .dropdown-menu{
 box-shadow: 0px 0px 5px gray;
 opacity: 0;
 display: block !important;
 top: 100%;
 right: 0;
}

.mostright button{
    background-color: white;
    height: 30px;
    width: 30px;
    text-align: center;
    border: none;
    color: gray;
    margin-right: 15px;
    transition: all 0.3s ease;
}
.mostright button:hover{
    color: black;
}

/*  */
.item {
    border: 1px solid lightgray;
    padding: 0% !important;
}
.card .card-body .icon {
    font-size: 0.8rem;
}
.card .cardhover {
    position: absolute;
    top: 5%;
    right: 8%;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease;
}

@media (max-width:1200px){
    .card .cardhover{
        opacity: 1;
        transform: translateY(0);
    }
}

.card:hover .cardhover {
    opacity: 1;
    transform: translate(0);
    border-radius: 0;
}

.card .cardhover button {
    background-color: rgb(197, 197, 197) !important;
    border: none;
    color: black;
    font-size: 1.1rem;
    margin-bottom: 5px;
}

.card .cardhover button:hover {
    background-color: black !important;
    color: white;
}

.card:hover {
    box-shadow: 0px 0px 10px darkgray;
}
.card-img-top {
    width: 100%;
    border-radius:0;
}

.discount {
    position: absolute;
    background-color: rgb(210, 2, 2);
    color: white;
    padding: 2% 3%;
    top: 6%;
    left: 7%;
    font-size: 0.8rem;
    border-radius: 5px;
}